.idea/
media/
.env
db.sqlite3
#notes.md
credentials2.json
credentials.json
celerybeat-schedule.db
send_request.py
management/
#web_socket/consumers/message.txt
loca.py
py-history.txt
message.txt
static/
