# Django and DRF
Django==4.2.20
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.0
django-filter==23.3
django-debug-toolbar==4.2.0
django-import-export==3.3.7
django-jazzmin==3.0.1
django-tailwind==3.6.0
django-compressor==4.4
django-appconf==1.1.0

# Authentication
django-allauth==0.58.2
dj-rest-auth==5.0.1
django-rest-auth==0.9.5
PyJWT==2.10.1
pyotp==2.9.0

# Database
psycopg==3.1.18
celery==5.3.6
amqp==5.3.1
billiard==4.2.1
kombu==5.5.0
vine==5.1.0

# WebSocket and Channels
channels==4.2.0
daphne==4.0.0
autobahn==24.4.2
txaio==23.1.1
websockets==15.0.1

# Firebase
firebase-admin==6.2.0
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.1
google-cloud-storage==3.1.0
google-crc32c==1.7.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
grpcio==1.71.0
grpcio-status==1.71.0

# Image Processing
Pillow==11.1.0
blurhash==1.1.4
qrcode==8.0

# API Documentation
drf-spectacular==0.26.5
drf-extra-fields==3.7.0

# Utilities
python-decouple==3.8
python-dotenv==1.0.0
whitenoise==6.9.0
polyline==2.0.2
filetype==1.2.0

# Development Tools
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
prompt_toolkit==3.0.50